* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;

  font-weight: 300;
  width: 100%;
  height: 100%;
  background-image: url("./Media_Videos/RainyRoofView.gif");
}
.loginPage_PTags {
  color: #ff69b4;
  font-size: 2rem;
  font-weight: bold;
}
.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.aTags {
  color: #eb5e28;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

.inputLoginPage {
  border: 1px solid #252422;
  background-color: #403d39;
  width: 250px;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #ff69b4;
  font-weight: 300;
}

.buttonLoginPage {
  appearance: none;
  outline: 0;
  background-color: #252422;
  border: 0;
  padding: 10px 15px;
  color: #ff69b4;
  border-radius: 5px;
  width: 250px;
  font-size: 18px;
  margin: 5px;
}
button:hover {
  opacity: 75%;
}
.nugget {
  background-color: #252422;
  padding: 15px 20px;
  color: #ff69b4;
  border-radius: 5px;
  width: 250px;
  font-size: 20px;
  font-weight: 300;
  margin: 5px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}
.errors_on_LoginsContainer {
  width: 300px;
  height: auto;
  margin: auto;
  background-color: rgb(0, 0, 0, 0.6);
  background-size: 25px 25px;
  border-radius: 10px;
  display: block;
}
.errors_on_Logins {
  opacity: 100%;
  padding-top: 2px;
  list-style-type: none;
  color: #ff69b4;
}
.confirmPassword_Container {
  padding-top: 10px;
}
.specialPTag {
  padding: 10px 30px 10px 30px;
  color: #ff69b4;
}
#rotate {
  animation: myMove infinite 1s linear;
}
p {
  position: relative;
  margin: auto;
  padding: 20px 30px 20px 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
#aboutMeList {
  text-align: center;
}
#aboutMeList li {
  list-style-type: none;
  color: red;
}
#aboutMeList a {
  text-decoration: none;
  color: red;
}

#StartOfGirds {
}
div#StartOfGirds > div {
  display: inline-block;
}

/* Below is the video things */
#itemAuto {
  margin: auto;
}

/* Below is for project ToDoList */
.containerToDoList {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 350px;
  min-width: 250px;
  background: #f1f5f8;
  background-image: radial-gradient(#ff69b4 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
  margin: auto;
  background-color: black;
}
.headingToDoList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.h1ToDoList {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #ff2643;
  font-size: 1.5rem;
}

.inputToDoList {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #ff2643;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: #fe28a2;
  width: 70%;
  margin-bottom: 20px;
}

.buttonToDoList {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ff2643;
}
.spanToDoList {
  background: #f5f5f5;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

.liToDoList {
  text-align: center;
  position: relative;
  padding: 0.5rem;
  font-family: "Architects Daughter", cursive;
  list-style-type: disclosure-closed;
  list-style-position: inside;
  font-weight: 800;
  font-size: x-large;
  color: #fe28a2;
}

/* Pokemon API Stuffffff */

.pokemonFullContainer {
  background-image: radial-gradient(#ff69b4 7.2%, transparent);
  background-size: 25px 25px;
  border-radius: 10px;
}
.pokemonTable {
  display: table;
  max-width: 20em;
  float: right;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.pokemonTableRow {
  display: table-row;
}
.pokemonTableHeading {
  background-color: violet;
  display: table-header-group;
  font-weight: bold;
}
.pokemonTableCell,
.pokemonTableHead {
  border: 1px solid black;
  display: table-cell;
  padding: 5px 13px;
}
.pokemonTableFoot {
  background-color: #eee;
  display: table-footer-group;
}
.pokemonTableBody {
  display: table-row-group;
}
.pokemonTableCell:nth-child(1n) {
  background-color: #ff69b4;
}
.pokemonContainer {
  display: flex;
  opacity: 0.9;

  justify-content: center;
}
.pokemonImg {
  height: 16em;
}
.pokemonForm {
  padding: 10px 10px 10px 10px;
}

.pokemonInput {
  box-sizing: border-box;
  border-color: #ff69b4;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 0rem auto;
  box-shadow: 4px 4px 3px 0px rgb(255 105 180 / 60%),
    0px 1px 1px 0px rgb(255 105 180 / 82%), 4px 1px 3px 0px rgb(0 0 0 / 70%);
  border-radius: 10px;
  background-image: url("https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-search-seo-dreamstale-lineal-dreamstale-7.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.pokemonInput[type="text"] {
  padding: 8px 20px 12px 45px;
}
